@media screen and (max-width: 892px) {

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .item {
    width: 100% !important;
  }
}
