@import url(./nav.css);
@import url(./media.css);
@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color-black: #1a1a1a;
  --bg-gradient: linear-gradient(45deg, black, #101010);
  --bg-blue: rgb(0, 0, 165);
  --white: #ffffff;
  --Exo-2: "Exo 2", sans-serif;

}

body {
  background: var(--bg-gradient);
  background-size: 500%;
  width: 100dvw !important;
  overflow-x: hidden !important;
  font-family: var(--Exo-2);
}
section{
  margin-inline: auto;
 text-align: center;
  min-width: 320px;
  padding:2rem 1rem;
  z-index: -1;
}
section p{
  font-size: .75rem;
  padding: 2rem 1rem;
}

/* about */
.about img{
  height: 20rem;
  background: var(--bg-blue);
  border-radius: 50%;
  margin: 1rem 0;
}
.grid{
  display: flex;
  flex-wrap: wrap !important;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.item{
  width: 40%;
}

/* skills */
.skills {
  max-width: 800px;
  margin: auto;
}
.skills h2{
  margin: 1rem 0 2rem;
}
.skill {
  margin-bottom: 20px;
}

.skill span {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.progress {
  width: 100%;
  height: 20px;
  background: #343434;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  width: 0;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.progress-bar.html {
  width: 90%; /* HTML skill level */
}

.progress-bar.css {
  width: 80%; /* CSS skill level */
}

.progress-bar.js {
  width: 70%; /* JavaScript skill level */
}